.wrapper {
    background-color: #B4E2EC;
}

#carouselExampleIndicators {
    margin: 2rem;
    width: 60%;
}

@media screen and (max-width: 750px) {
    #carouselExampleIndicators {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .btn {
        margin: 0.2rem !important;
    }
    .main-collapse {
        width: 95% !important;
        border: 3px solid #FEF1F5;
    }
}

@media screen and (min-width: 750px) {
    .main-collapse {
        width: 70% !important;
    }
}

.col {
    display: flex;
    justify-content: center;
}

.card-body, .card {
    background-color: #B4E2EC !important;
    border: none !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
}

.big-image {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 50% !important;
}

.img-wrapper {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.big-image img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-height: 500px;
    height: 70%;
    width: auto;
}
  
.img-responsive {
    justify-content: center;
    width: 100%;
}

.btn {
    position: relative;
    width: 15rem;
    margin: 3rem;
}

.ticket-container {
    background-color: #FEF1F5;
    display: flex;
    align-items: center;
    border: 3px solid green;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1px solid black;
    border-bottom: none;
    margin:0;
    height: 8rem;
}

.media {
    border-top: solid 1px black;
    background-color: #B4E2EC;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

ul {
    list-style: none;
}

.main-collapse {
    border: 3px solid #FEF1F5;
}