.wrapper {
    background-color: #FDDBE7;
}

#carouselExampleIndicators {
    margin: 2rem;
    width: 60%;
}

@media screen and (max-width: 600px) {
    #carouselExampleIndicators {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

.big-image {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 50% !important;
}

.img-wrapper {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
  
.img-responsive {
    justify-content: center;
    height: auto;
    width: 100%;
}

.btn {
    width: 20rem;
    margin: 3rem;
}

.ticket-container {
    display: flex;
    align-items: center;
    border: 3px solid green;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1px solid black;
    border-bottom: none;
    margin:0;
    height: 8rem;
}

.media {
    border: 1px solid black;
    background-color: #FEF1F5;
}