.wrapper {
    background-color: #FDDBE7;
    margin: 0;
}

#carouselExampleIndicators {
    margin: 2rem;
    width: 60%;
}

@media screen and (max-width: 600px) {
    #carouselExampleIndicators {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}

.img-wrapper {
    z-index: 0;
    position: relative;
    margin:0;
}
  
.img-responsive {
    width: 100%;
    height: auto;
}
  
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
  
.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

.container, .container button {
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.ticket-container {
    border: 1px solid black;
    margin:0;
    height: 8rem;
}

.media {
    border: 1px solid black;
    border-top: none;
}