.media-body {
  padding: 2rem;
  font-size: 30px;
}

@media screen and (max-width: 600px) {

  .media-body {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center !important;
      margin: 0 !important;
  }

  .media img {
      margin: 0 auto;
  }

  .row {
    margin-left: auto;
      margin-right: auto;
      justify-content: center;
  }
}

@media screen and (min-width: 1130px) {

  .media-body {
      padding-top: 8rem;
      padding-left: 1rem;
      padding-right: 4rem;
      text-align: center !important;
  }

  .media img {
      margin: 2rem;
      width: 50%;
      height: auto;
      /*width: 100%;*/
  }
}

.flex-column {
  max-width: 100%;
}

.media {
  overflow: none;
}

.row {
  margin: 0;
}

.mr-3 {
  margin: 2rem;
  justify-content: center;
}

.media img {
  margin: 2rem;
  max-width: 100%;
}

.lightblue {
  background-color: #B4E2EC;
}

.lightpink {
  background-color: #FDDBE7;
}

.m-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400px;
  font-size: 50px;
}