.media-body {
  padding: 2rem;
}

@media screen and (max-width: 600px) {

  .media-body {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center !important;
      margin: 0 !important;
  }

  .media img {
      margin: 0 auto;
  }
}

@media screen and (min-width: 1130px) {

  .media-body {
      padding-top: 8rem;
      padding-left: 1rem;
      padding-right: 4rem;
      text-align: center !important;
      margin: 0 !important;
  }

  .media img {
      margin: 0 auto;
      margin-left: 2rem;
      width: 50%;
      height: auto;
      /*width: 100%;*/
  }
}

.flex-column {
  max-width: 100%;
}

.media {
  overflow: none;
}

.row {
  margin: 2rem;
}

.mr-3 {
  justify-content: center;
}

.media img {
  max-width: 100%;
}