* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}

@media screen and (min-width: 1130px) {
  .navbar {
    text-align: center !important;
    margin: 0 !important;
    font-size: 14px !important;
    height: 5rem !important;
  }
  .m-header {
    margin-top: 3rem;
  }
}

.btn {
  border: 5px solid #B4E2EC !important;
  color: black !important;
}

.btn-pink {
  border: 3px solid #000000 !important;
  color: black !important;
}

.btn:hover {
  background-color: #B4E2EC !important;
}

.btn-pink:hover {
  background-color: #FDDBE7 !important;
}

.m-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 3rem;
}

.media-body {
  font-family: 'Work Sans', sans-serif !important;
  line-height: 180%;
  padding: 2rem;
  font-size: 25px;
}