@media screen and (min-width: 1130px) {
    .container {
        width: 80%;
    }
}

.ticketOption {
    padding: 1rem;
    border: 2px solid black;
    margin-bottom: 2rem;
    background-color: white;
}

.container div {
    justify-content: center;
    
}

.display-4, .lead {
    font-family: 'Work Sans' !important;
}

.display-4 {
    font-size: 60px !important;
    font-weight: 900 !important;
}

.lead {
    font-size: 24px !important;
    font-weight: 400 !important;
}

.col-sm h3 {
    font-size: 30px;
    font-weight: 400;
}

.jumbotron-fluid {
    
    /*padding: 0 !important;
    margin: 0 !important;*/
    background-color:  #B4E2EC !important;
    margin: 0 0 0 !important;
}

.mainBody {
    padding: 2rem;
    margin: 0;
    background-color: #FDDBE7;
}

.col-sm {
    margin: 1rem;
    text-align: center;
}

.btn-lg {
    width: 80%;
}

.info-bold {
    font-size: 28px !important;
}

.card-body {
    font-size: 20px !important;
}