@media screen and (min-width: 1130px) {
    .container {
        width: 80%;
    }
}

.ticketOption {
    padding: 1rem;
    border: 2px solid black;
    margin-bottom: 2rem;
}

.container div {
    justify-content: center;
    
}

.col-sm {
    margin: 1rem;
    text-align: center;
}

.btn-lg {
    width: 80%;
}
  
  /* Add a hover effect if you want */
  
  /* Set a specific color for each brand */
  
  /* Facebook */